<table>
    <thead>
    <tr>
        <td>Name & Location</td>
        <td>Role & Credentials</td>
        <td>Expertise</td>
        <td>Platform Knowledge</td>
        <td>Available?</td>
        <td>Learn More & Contact</td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h3>AndrewYouderian</h3>
                <p>eCommerceFuel.com Bozeman, United States</p>
            </td>
            <td>
                <p>Store Owner (F/T) Level 3</p>
            </td>
            <td>
                <h4>Marketing</h4>
                <p>SEO</p>
            </td>
            <td>
                <p>Magento</p>
                <p>Zendesk</p>
            </td>
            <td style="width: ">
                <p>Yes</p>
            </td>
            <td>
                <a href="#">See Full Profile</a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>AndrewYouderian</h3>
                <p>eCommerceFuel.com Bozeman, United States</p>
            </td>
            <td>
                <p>Store Owner (F/T) Level 3</p>
            </td>
            <td>
                <h4>Marketing</h4>
                <p>SEO</p>
            </td>
            <td>
                <p>Magento</p>
                <p>Zendesk</p>
            </td>
            <td style="width: ">
                <p>Yes</p>
            </td>
            <td>
                <a href="#">See Full Profile</a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>AndrewYouderian</h3>
                <p>eCommerceFuel.com Bozeman, United States</p>
            </td>
            <td>
                <p>Store Owner (F/T) Level 3</p>
            </td>
            <td>
                <h4>Marketing</h4>
                <p>SEO</p>
            </td>
            <td>
                <p>Magento</p>
                <p>Zendesk</p>
            </td>
            <td style="width: ">
                <p>Yes</p>
            </td>
            <td>
                <a href="#">See Full Profile</a>
            </td>
        </tr>

    </tbody>
</table>